@font-face {
  font-family: "inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter semibold";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100vw;
  min-width: 860px;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "inter", sans-serif;
}

body {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 743px;
  height: 91px;
  padding-inline: 20px;
  background-color: #3579f5;
  border-radius: 10px;
  font-family: "inter", Arial, serif;
  color: #fff;
}
.banner__circle {
  width: fit-content;
  position: relative;
}

.wrapper {
  display: flex;
  gap: 16px;
}

.progress {
  transform: rotate(-90deg);
}

.progress__circle_completed {
  stroke-linecap: round;
  stroke-dasharray: 700;
  stroke-dashoffset: calc(700 - 700 * 0.5 / 100);
}

.progress__numbers {
  position: absolute;
  top: 50%;
  transform: translate(55%, -53%);
  font-size: 20px;
}

.banner__text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.banner__span {
  display: inline-block;
  padding: 2px 13px;
  border-radius: 40px;
  background-color: #2364db;
  font-size: 12px;
}

.banner__paragraph {
  font-size: 15px;
  font-family: "inter semibold", Arial, serif;
}

.banner__paragraph_next {
  font-size: 12px;
}

.banner__btn {
  padding: 10px 25px;
  font-family: inherit;
  font-size: 14px;
  background-color: #f4f8ff;
  border: none;
  border-radius: 6px;
  color: #4777ed;
  cursor: pointer;

  &:hover {
    background-color: #4777ed;
    transition: 0.5s ease-in-out;
    color: #f4f8ff;
    border: 1px solid #f4f8ff;
  }
}
